@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

body{
    font-family: 'Roboto', sans-serif;
}

.btn.btn-raised.btn-primary{
    border: 0px solid #fff;
    border-radius: 0px;
}

.banner{
    margin-top: 65px;
    margin-bottom: 65px;
    
.bannerimg22{
    position: relative;
    img{
        width: 100%;
        object-fit: cover;
        object-position: center;
        height: 600px;

        @media (max-width: 720px) and (min-width: 320px){
                height: 300px;
        }
    }

    .description{
        position: absolute;
        top: 35%;
        left: 28%;
        right: 28%;
        text-align: center;

        @media (max-width: 720px) and (min-width: 320px){
            top: 26%;
            left: 10%;
            right: 10%;
        }
      

        h3 span{
            color: #fff;
            font-size: 40px;
            background-color: rgba(255,255,255, .2);
            padding: 5px;
            letter-spacing: 3px;
            @media (max-width: 720px) and (min-width: 320px){
                font-size: 22px;
            }
            
        }
        h2 span{
            color: #fff;
            font-size: 65px;
            background-color: rgba(255,255,255, .2);
            padding: 5px;
            @media (max-width: 720px) and (min-width: 320px){
                font-size: 36px;
            }
           
        }
        p{
            margin-top: 60px;
            color: #fff;
            font-size: 20px;
            @media (max-width: 720px) and (min-width: 320px){
                font-size: 18px;
                margin-top: 30px;
            }
    }
    }
}
}

.firstsection{
    width: 100%;
    margin: 50px 0%;
    position: relative;

    h6{
        font-size: 25px;
        width: 25%;
        font-weight: 700;
        margin-bottom: 20px;
        color: #073156;
        margin: 10px 40% 10px 35%;

        @media (max-width: 720px) and (min-width: 320px){
            width: 80%;
            margin: 10px 10% 10px 10%;
        }
    }
    p{
        font-size: 16px;
        width: 40%;
        font-weight: 500;
        margin-bottom: 20px;
        color: #111;
        margin: 10px 25% 10px 35%;

        @media (max-width: 720px) and (min-width: 320px){
            width: 80%;
            margin: 10px 10% 10px 10%;
        }
    }

    .circleimg{
        width: 400px;
        position: absolute;
        left: -100px;
        top: -150px;
        opacity: .3;

    }
}

.secondpart{
    position: relative;

    .flexbox{
        display: flex;
        flex-wrap: wrap;
        margin: 85px auto;

        @media (max-width: 720px) and (min-width: 320px){
            margin: 20px auto;
        }

       
        .descriptionbox{
            flex: 1;
            padding: 40px 10px 40px 10px;
            @media (max-width: 720px) and (min-width: 320px){
                flex-basis: 100%;
            }

            h4{
                font-size: 25px;
                font-weight: 700;
                margin-bottom: 20px;
                color: #111;
            }

            p{
                margin-bottom: 4rem;
            }

            .learnmore{
                padding: 10px 15px;
                color: #073156;
                background-color: #fff;
                border: 2px solid #073156;
                text-transform: uppercase;
                font-size: 14px;
                font-weight: 700;
                letter-spacing: 1px;

                @media (max-width: 720px) and (min-width: 320px){
                    padding: 10px 10px;
                }

                &:hover{
                    text-decoration: none;
                    color: #fff;
                    background-color: #073156;
                }
            }
        }

        .imgbox{
            flex: 1;
            @media (max-width: 720px) and (min-width: 320px){
                flex-basis: 100%;
            }

            img{
                width: 100%;
            }
        }
    }
}


.padleft{
    padding-left: 50px;

    @media (max-width: 720px) and (min-width: 320px){
        padding-left: 0px;
    }
}
.padright{
    padding-right: 50px;
    @media (max-width: 720px) and (min-width: 320px){
        padding-right: 0px;
    }
}

.tabsection{
    background-color: rgba(7, 49, 86, .1);
    padding: 80px 80px 20px;
    margin-bottom: 40px;

    @media (max-width: 720px) and (min-width: 320px){
        padding: 40px 10px 20px;
    }

    h4{
        font-size: 32px;
        width: 80%;
        margin: 10px 10% 40px;
        text-align: center;
        color: #222;
        @media (max-width: 720px) and (min-width: 320px){
            font-size: 24px;
        }
        
    }

    .mainpart{
        height: 240px;
        margin-top: 50px;

        @media (max-width: 720px) and (min-width: 320px){
            height: auto;
            margin-top: 20px;
        }
      
        
        .flexpart{
            display: flex;
            flex-wrap: wrap;

        .first{
            flex: 1;

            @media (max-width: 720px) and (min-width: 320px){
                flex-basis: 100%;
            }
           

            p{
               font-size: 16px;
               width: 55%;
               margin-left: 40%;
               margin-right: 5%;
               @media (max-width: 720px) and (min-width: 320px){
                width: 100%;
                margin-left: 0%;
                margin-right: 0%;
               }
            }
        }
        .second{
            flex: 1;

            @media (max-width: 720px) and (min-width: 320px){
                flex-basis: 100%;
            }
           


            ul li{
                font-size: 16px;
                padding-left: 20px;
                color: #333;
                font-weight: 700;
                letter-spacing: 1px;
                text-transform: uppercase;
            }
        }
    }
    }

    .icontext{
        font-size: 20px;
        padding: 5px;

        @media (max-width: 720px) and (min-width: 320px){
            font-size: 16px;
            padding: 0px;
        }
    }

    .w3-bar{
        width: 40%;
        margin: 10px 30%;

        @media (max-width: 720px) and (min-width: 320px){
            width: 100%;
            margin: 10px 0%;
        }
    }

    .w3-button{
        background-color: #ddd;
    }
    .w3-button:hover{
        background-color: #073156!important;
        color: #fff!important;
    }

    .w3-bar .w3-button {
        width: 70px;
        white-space: normal;
        height: 70px;
        border-radius: 50%;
        text-align: center;
        margin: 10px 2%;
        display: block;

        @media (max-width: 720px) and (min-width: 320px){
            width: 50px;
            height: 50px;
            margin: 10px 1.5%;
        }
    }

    h3{
        color: #073156;
        font-size: 30px;
        text-transform: uppercase;
        text-align: center;
        margin: 0px auto 14px;
        font-weight: 300;

        @media (max-width: 720px) and (min-width: 320px){
            font-size: 26px;
        }
    }

}

.w3-blu, .w3-hover-blu:hover {
    color: #fff!important;
    background-color: #073156!important;
}

.underlinehr{
    border:0;
    border-bottom: 6px solid #073156;
    width:100px;
    margin:0;
    margin-bottom: 30px;
    margin: 10px 40% 10px 35%;
}

.underlinehr2{
    border:0;
    border-bottom: 1px solid #073156;
    width: 10%;
    margin:0;
    margin-bottom: 30px;
    margin: 10px 45% 30px 45%;
}

.reverseflex{
    flex-direction: row;
    @media (max-width: 720px) and (min-width: 320px){
        flex-direction: column-reverse;
    }

}


.loginpage{
    .form-control{
        border: 0px solid #fff;
    }
}

@media (max-width: 1024px) and (min-width: 721px){
    .padleft {
        padding-left: 20px;
    }
    .padright {
        padding-right: 20px;
    }

.secondpart .flexbox .descriptionbox {
    padding: 0px 10px 0px 10px;
}
.tabsection .w3-bar {
    width: 80%;
    margin: 10px 10%;
}
.tabsection .mainpart .flexpart .first p {
    font-size: 16px;
    width: 75%;
    margin-left: 20%;
    margin-right: 5%;
}
.firstsection p {
    width: 70%;
    margin: 10px 10% 10px 20%;
}
.firstsection h6 {
    width: 70%;
    margin: 10px 10% 10px 20%;
}
.underlinehr {
    margin: 10px 40% 10px 20%;
}
}
